<!-- <div class="w3-container w3-margin w3-padding-64 w3-card">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="media text-muted pt-3" *ngIf="profile1[0].quora!=''">
          <img src="assets/quora.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
    
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"><a href="{{profile1[0].quora}}">Quora</a>  <input type="checkbox" value="true" checked class="w3-margin" formControlName="qcheck"> </strong>
              <br><br>
            </div>
            
          </div>
        </div>
                <div class="media text-muted pt-3" *ngIf="profile1[0].yq!=''">
                   <img src="assets/download.jpg" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].yq}}">YourQuote</a>   <input type="checkbox" value="true" checked class="w3-margin" formControlName="yqcheck"> </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="media text-muted pt-3" *ngIf="profile1[0].github!=''">
                    <img src="assets/github.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].github}}">Github</a>  <input type="checkbox" value="true" checked class="w3-margin" formControlName="gitcheck"> </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
    
                  <div class="media text-muted pt-3" *ngIf="profile1[0].linkedin!=''">
                    <img src="assets/linkedin.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].linkedin}}">Linkedin</a>  <input type="checkbox" value="true" checked class="w3-margin"  formControlName="linkcheck"> </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
                <div class="media text-muted pt-3" *ngIf="profile1[0].fb!=''">
                    <img src="assets/facebook.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].fb}}">Facebook</a>   <input type="checkbox" value="true" checked class="w3-margin"  formControlName="fbc"> </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
                  
                <div class="media text-muted pt-3" *ngIf="profile1[0].ig!=''">
                    <img src="assets/instagram.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].ig}}">Instagram</a>  <input type="checkbox" value="true" checked class="w3-margin"  formControlName="igc"> </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
                  
                <div class="media text-muted pt-3" *ngIf="profile1[0].snap!=''">
                    <img src="assets/snapchat.png" class="bd-placeholder-img mr-2 rounded" width="50" height="50" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
              
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="{{profile1[0].snap}}">snapchat</a>  <input type="checkbox" [value]="true" checked class="w3-margin"  formControlName="snapc" > </strong>
                        <br><br>
                      </div>
                      
                    </div>
                  </div>
                  
      
                  
      
                  <input type="submit" value="save">
      
                </form>
                
</div> -->

<div class="w3-container w3-padding-64 w3-margin">
  <form class="needs-validation" [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">UserName</label>
          <input type="text" class="form-control" id="validationCustom01"  required formControlName="username">
          <div class="valid-feedback">
            Looks good!
          </div>

          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom02">Quora</label>
            <input type="text" class="form-control" id="validationCustom02"  required formControlName="quora">
           
          </div>
        </div>
     
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">yq</label>
            <input type="text" class="form-control" id="validationCustom03" required formControlName="yq">
         
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Github</label>
            <input type="text" class="form-control" id="validationCustom03" required formControlName="github">
         
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">linkedin</label>
            <input type="text" class="form-control" id="validationCustom05" required formControlName="linkedin">
          
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">fb</label>
            <input type="text" class="form-control" id="validationCustom03" required formControlName="fb">
         
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">ig</label>
            <input type="text" class="form-control" id="validationCustom03" required formControlName="ig">
         
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">snap</label>
            <input type="text" class="form-control" id="validationCustom05" required formControlName="snap">
          
          </div>
        </div>
     
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    
</div>
